body {
    padding-top: 50px;
}

.navbar {
    background-color: #eee;
    border-bottom: 1px solid lightgray;
}

.navbar-brand {
    color: black !important;
}

.navbar-nav li a {
    color: black !important;
}

.navbar-nav li.active a, .navbar-nav li:hover a {
    background-color: #DDDDDD !important;
    color: black !important;
}

.components-screenshot {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.content-header {
    background-color: #eee;
    padding: 5px 15px 25px 0;
}

.sidebar {
    margin-top: 25px;
}

.content .nav > li > a {
    padding: 5px 20px 5px 0;
}

/* Sub level nav links */
.content .nav .nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
}
