body {
    padding-top: 50px;
}

.navbar {
    background-color: #eee;
    border-bottom: 1px solid lightgray;
}

.navbar-brand {
    color: black !important;
}

.navbar-nav li a {
    color: black !important;
}

.navbar-nav li.active a, .navbar-nav li:hover a {
    background-color: #DDDDDD !important;
    color: black !important;
}

.components-screenshot {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
