---
title: Documentation
order: 1
content: ./src/content/documentation.md
---
<div class="content-header">
    <div class="container">
        <h1>Documentation</h1>
        <p>Learn how to use the extension effectively.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 sidebar">
            <!-- Sidebar -->
            <ul class="nav">
                <li>
                    <p>Getting Started</p>
                    <ul class="nav">
                        <li><a href="#">Install</a></li>
                        <li><a href="#">First run</a></li>
                    </ul>
                </li>
                <li>
                    <p>Basics</p>
                    <ul class="nav">
                        <li><a href="#">Panel</a></li>
                        <li><a href="#">Component</a></li>
                        <li><a href="#">Actions</a></li>
                        <li><a href="#">Views</a></li>
                        <li><a href="#">Models</a></li>
                        <li><a href="#">Collections</a></li>
                        <li><a href="#">Routers</a></li>
                        <li><a href="#">Elements sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <p>Advanced</p>
                    <ul class="nav">
                        <li><a href="#">Integrated workflow</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <!-- Content -->
            <div class="page-header">
                {{md content}}
            </div>
        </div>
    </div>
</div>