<a class="appComponentToggle btn btn-link {{#compare component_status 'delete (success)'}}removed{{/compare}}"
   data-toggle="collapse" 
   data-target="#collection{{component_index}}">
   <span>
    Collection {{component_index}} {{#unlessNull component_name}} : {{component_name}} {{/unlessNull}}
   </span>
</a>

<div id="collection{{component_index}}" class="appComponent collapse {{#if isOpen}}in{{/if}}">
    
    <ul>
        <!--
        <li>
            <b>Type</b>: 
            <a class="printType btn btn-link" title="Print in console">[object Object]</a>
        </li>
        -->

        <li>
            <b>this</b>: 
            <a class="printAppComponent btn btn-link" title="Print in console">[object Object]</a>
        </li>

        <li>
            <b>Status</b>: {{component_status}}
        </li>

        <!--
        {{#if component_hasModel}}
        <li>
            <b>Models type</b>: 
            <a class="printModelsType btn btn-link" title="Print in console">[object Object]</a></li>
        </li>
        {{/if}}
        -->

        {{#if component_models}}
        <li>
            <a class="btn btn-link" title="Toggle" data-toggle="collapse" 
            data-target="#collection{{component_index}} .models"><b>Models</b></a>
            <div class="models collapse {{#if isModelsOpen}}in{{/if}}">
                <ul>
                    {{#each component_models}}
                    <li>
                        <a class="inspectComponent btn btn-link" 
                           data-component-category="Model"
                           data-component-index="{{this}}"
                           title="Inspect">
                           Model {{this}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
        {{/if}}

        {{#unlessNull component_url}}
        <li>
            <b>Url</b>: {{#stringify component_url}} {{value}} {{/stringify}}
        </li>
        {{/unlessNull}}

        <li>
            <b>Actions:</b>
            <div class="appComponentActions">
            </div>
        </li>
    </ul>
</div>
