{{#if thereAreItems}}
<div class="navbar appComponentsOptions">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a class="openAll btn-link" title="Open all"><i class="icon-chevron-right icon-chevron-bottom"></i></a></li>
        <li><a class="closeAll btn-link" title="Close all"><i class="icon-chevron-right icon-chevron-top"></i></a></li>
        <li><a class="btn-link" title="Group by"><i class="icon-th-list"></i></a></li>
        <!--
        <li>
            <form class="navbar-form pull-left">
                <select>
                    <option>Group by</option>
                    <optgroup label="Groups">
                        <option>(none)</option>
                        {{#each groupBy}}
                        <option data-group="{{type}}">{{name}}</option>
                        {{/each}}
                    </optgroup>
                </select>
            </form>
        </li>
        -->
      </ul>
    </div>
</div>

<ul class="appComponentList nav nav-tabs nav-stacked">
</ul>
{{else}}
<p>There is nothing to see here.</p>
{{/if}}
