<a class="appComponentToggle btn btn-link {{#compare component_status 'delete (success)'}}removed{{/compare}}"
   data-toggle="collapse" 
   data-target="#model{{component_index}}">
   <span>Model {{component_index}} {{#unlessNull component_name}} : {{component_name}} {{/unlessNull}}</span>
</a>

<div id="model{{component_index}}" class="appComponent collapse {{#if isOpen}}in{{/if}}">
    
    <ul>
        <!--
        <li>
            <b>Type</b>: 
            <a class="printType btn btn-link" title="Print in console">[object Object]</a>
        </li>
        -->

        <li>
            <b>this</b>: 
            <a class="printAppComponent btn btn-link" title="Print in console">[object Object]</a>
        </li>

        <li>
            <b>Status</b>: {{component_status}}
        </li>

        {{#unlessNull component_attributes}}
        <li>
            <a class="btn btn-link" title="Toggle" data-toggle="collapse" 
            data-target="#model{{component_index}} .attributes"><b>Attributes</b></a>
            <div class="attributes collapse {{#if isAttributesOpen}}in{{/if}}">
                <ul>
                {{#hash component_attributes}}
                    <li>
                        <b>{{key}}</b>:
                        {{#unlessIsObject value}}
                            {{#stringify value}} {{value}} {{/stringify}}
                        {{else}}
                            <a class="printAppModelAttribute btn btn-link"
                               data-attribute-name="{{key}}"
                               title="Print in console">
                               {{#getObjectType value}}
                                   {{type}}
                               {{/getObjectType}}
                            </a>
                        {{/unlessIsObject}}
                    </li>
                {{/hash}}
                </ul>
            </div>
        </li>
        {{/unlessNull}}

        {{#unlessNull component_id}}
        <li>
            <b>Id</b>: {{#stringify component_id}} {{value}} {{/stringify}}
        </li>
        {{/unlessNull}}

        {{#unlessNull component_cid}}
        <li>
            <b>Cid</b>: {{#stringify component_cid}} {{value}} {{/stringify}}
        </li>
        {{/unlessNull}}

        {{#unlessNull component_url}}
        <li>
            <b>Url</b>: {{#stringify component_url}} {{value}} {{/stringify}}
        </li>
        {{/unlessNull}}

        {{#unlessNull component_collectionIndex}}
        <li>
            <b>Collection</b>: 
            <a class="inspectComponent btn btn-link"
               data-component-category="Collection"
               data-component-index="{{component_collectionIndex}}"
               title="Inspect">
               Collection {{component_collectionIndex}}
            </a>
        </li>
        {{/unlessNull}}

        <li>
            <b>Actions:</b>
            <div class="appComponentActions">
            </div>
        </li>
    </ul>
</div>
