<a class="appComponentToggle btn btn-link"
   data-toggle="collapse" 
   data-target="#router{{component_index}}">
   <span>Router {{component_index}} {{#unlessNull component_name}} : {{component_name}} {{/unlessNull}}</span>
</a>

<div id="router{{component_index}}" class="appComponent collapse {{#if isOpen}}in{{/if}}">
    
    <ul>
        <!--
        <li>
            <b>Type</b>: 
            <a class="printType btn btn-link" title="Print in console">[object Object]</a>
        </li>
        -->

        <li>
            <b>this</b>: 
            <a class="printAppComponent btn btn-link" title="Print in console">[object Object]</a>
        </li>

        <li>
            <b>Actions:</b>
            <div class="appComponentActions">
            </div>
        </li>
    </ul>
</div>
