<div class="jumbotron">
    <div class="container">
        <h1>Backbone Debugger</h1>
        <p>Chrome Developer Tools extension for debugging Backbone.js applications.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/backbone-debugger/bhljhndlimiafopmmhjlgfpnnchjjbhd">Install &raquo;</a>
            <a class="btn btn-primary btn-lg" href="https://github.com/Maluen/Backbone-Debugger">Get the source &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Displays in real-time all your Backbone application views, models, collections and routers:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Views</h2>
            <a href="https://github-camo.global.ssl.fastly.net/da96ec4eaa9407da29a374636ffebfdb4b96bac2/687474703a2f2f696d673730362e696d616765736861636b2e75732f696d673730362f353834332f387473772e706e67">
                <img class="components-screenshot" alt="Views" src="https://github-camo.global.ssl.fastly.net/da96ec4eaa9407da29a374636ffebfdb4b96bac2/687474703a2f2f696d673730362e696d616765736861636b2e75732f696d673730362f353834332f387473772e706e67"/>
            </a>
            <p>Rendering status, html element, associated model and/or collection, handled page events, 
               events triggered...</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-6">
            <h2>Models</h2>
            <a href="https://github-camo.global.ssl.fastly.net/8530b4c48dd2efcc443446fab301e96303afad05/687474703a2f2f696d616765736861636b2e75732f612f696d673835362f343730362f65346a772e706e67">
                <img class="components-screenshot" alt="Views" src="https://github-camo.global.ssl.fastly.net/8530b4c48dd2efcc443446fab301e96303afad05/687474703a2f2f696d616765736861636b2e75732f612f696d673835362f343730362f65346a772e706e67"/>
            </a>
            <p>Last sync status, attributes, id, cid, url, associated collection, events triggered, sync actions...</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Collections</h2>
            <a href="https://github-camo.global.ssl.fastly.net/a1082136ff1ef192b9c1a28ca3b6a093683dbd51/687474703a2f2f696d673139392e696d616765736861636b2e75732f696d673139392f313135332f637476612e706e67">
                <img class="components-screenshot" alt="Views" src="https://github-camo.global.ssl.fastly.net/a1082136ff1ef192b9c1a28ca3b6a093683dbd51/687474703a2f2f696d673139392e696d616765736861636b2e75732f696d673139392f313135332f637476612e706e67"/>
            </a>
            <p>Last sync status, models, url, events triggered, sync actions...</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-6">
            <h2>Routers</h2>
            <a href="https://github-camo.global.ssl.fastly.net/6a0f2cd7d51ef5c1cbc94062d4188e5174c2bd09/687474703a2f2f696d6738392e696d616765736861636b2e75732f696d6738392f343035312f653037732e706e67">
                <img class="components-screenshot" alt="Views" src="https://github-camo.global.ssl.fastly.net/6a0f2cd7d51ef5c1cbc94062d4188e5174c2bd09/687474703a2f2f696d6738392e696d616765736861636b2e75732f696d6738392f343035312f653037732e706e67"/>
            </a>
            <p>Events triggered (include routes)...</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Extends the sidebar of the "Elements" panel to display the Backbone View 
                of the inspected html element.</h3>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>
